requests
bs4
numpy
pandas
scrapy
lxml
pandasql 
webdriver-manager
geopandas
geoplot
matplotlib
fake-useragent
seaborn
plotly
pyarrow
html5lib
squarify
dash
google
scrapy
google-cloud-bigquery
hsluv
wordcloud 
Scarpy